body{
    font-size: 16px;
  }
  h1 {
      width: 65px;
      color: orange;
      font-family: sans-serif;
  }
  ul {
      background-color: aqua;
      font-style: oblique;
      line-height: 2cm;
      text-align: inherit;
      text-decoration: underline;
  }
  .color-style {
    background-color: maroon;
    color: black; 
  }
  p {
    font-weight: 600;
    font-size: 3em;
  }
  #first-item {
    background-color: yellow;
  }
  #second-item {
    background-color: red; 
  }
  #third-item {
    background-color: brown;
  }